<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">

        <!--
          Fail closed: prevent the SDK manifest provider from auto-initializing.
          TurBot initializes Start.io from code only after a real App ID is supplied
          and the app has a recorded advertising-consent decision.
        -->
        <provider
            android:name="com.startapp.sdk.adsbase.StartAppInitProvider"
            android:authorities="${applicationId}.startappinitprovider"
            tools:node="remove" />

        <meta-data
            android:name="com.startapp.sdk.SPLASH_ENABLED"
            android:value="false" />
        <meta-data
            android:name="com.startapp.sdk.RETURN_ADS_ENABLED"
            android:value="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
